.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 50px auto 150px 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "c c c c c c c c c c c c"
        "s s s s s s s s s s s s"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.nav {
    grid-area: n;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.sidebar {
    grid-area: s;
}

@media (min-width: 728px) {

    .container {
        height: 100%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 50px auto 50px;
        grid-template-areas: 
            ". h h h h h h h h h h ."
            ". n n n n n n n n n n ."
            ". c c c c c c c c s s ."
            ". f f f f f f f f f f .";
    }
    
    .header {
        grid-area: h;
    }
    
    .nav {
        grid-area: n;
    }
    
    .content {
        grid-area: c;
    }
    
    .footer {
        grid-area: f;
    }

    .sidebar {
        grid-area: s;
    }

}


@media (min-width: 1024px) {

    .container {
        height: 100%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 200px 50px auto 50px;
        grid-template-areas: 
            ". h h h h h h h h h h ."
            ". n n c c c c c c s s ."
            ". n n c c c c c c s s ."
            ". f f f f f f f f f f .";
    }
    
    .header {
        grid-area: h;
    }
    
    .nav {
        grid-area: n;
    }
    
    .content {
        grid-area: c;
    }
    
    .footer {
        grid-area: f;
    }

    .sidebar {
        grid-area: s;
    }

}
